<a href="https://colab.research.google.com/github/imbishal7/aops_scraper/blob/main/aops_complete_scraper_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/aops_complete_scraper/aops_complete_data.csv')
which = pd.read_csv('/content/drive/MyDrive/aops_complete_scraper/which_data.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43300 entries, 0 to 43299
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    43300 non-null  int64
 1   category      43300 non-null  object
 2   contest       43300 non-null  object
 3   link          43300 non-null  object
 4   name          43300 non-null  object
 5   source        43300 non-null  object
 6   problem       33566 non-null  object
 7   problem_html  43300 non-null  object
 8   solution_1    33085 non-null  object
 9   solution_2    22157 non-null  object
 10  solution_3    15957 non-null  object
 11  solution_4    12269 non-null  object
 12  solution_5    9827 non-null   object
dtypes: int64(1), object(12)
memory usage: 4.3+ MB

In [ ]:
which.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42885 entries, 0 to 42884
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  42885 non-null  int64
 1   link        42885 non-null  object
 2   source      42885 non-null  object
 3   which       42178 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.3+ MB

In [ ]:
data.drop('Unnamed: 0', inplace=True, axis=1)
which.drop('Unnamed: 0', inplace=True, axis=1)

In [ ]:
def apply_renaming(column):
  data[column] = data[column].str.replace('Team Selection Test','TST')
  data[column] = data[column].str.replace('Math Olympiad','MO')
  data[column] = data[column].str.replace('Mathematics Olympiad','MO')
  data[column] = data[column].str.replace('Mathematical Olympiad','MO')
  data[column] = data[column].str.replace('National Olympiad','NMO')
  data[column] = data[column].str.replace('-',' ')
  data[column] = data[column].str.replace(' Problems','')
  data[column] = data[column].str.replace('ISL','IMO Shortlist')
  data[column] = data[column].str.replace('Problem ','P')
  data[column] = data[column].str.replace(', ',' ')
  data[column] = data[column].str.replace('Junior Balkan MO','JBMO')
  data[column] = data[column].str.replace('Balkan MO', 'BMO')
  data[column] = data[column].str.replace('Junior Balk–∞n MO','JBMO')

In [ ]:
apply_renaming('contest')
apply_renaming('name')
apply_renaming('problem')

In [ ]:
"""def unique_query(row):
  query = str(row['name']) +' '+ str(row['problem'])
  query = query.split(' ')
  query = set(query)
  query = ' '.join(query)
  return query
  
query = data.apply(unique_query, axis=1)
data.insert(6, 'query', query)
  """

"def unique_query(row):\n  query = str(row['name']) +' '+ str(row['problem'])\n  query = query.split(' ')\n  query = set(query)\n  query = ' '.join(query)\n  return query\n  \nquery = data.apply(unique_query, axis=1)\ndata.insert(6, 'query', query)\n  "

In [ ]:
filter_cond = data['problem_html'] == data.loc[37934]['problem_html']

In [ ]:
data =data[~filter_cond]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43217 entries, 0 to 43299
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      43217 non-null  object
 1   contest       43217 non-null  object
 2   link          43217 non-null  object
 3   name          43217 non-null  object
 4   source        43217 non-null  object
 5   problem       33566 non-null  object
 6   problem_html  43217 non-null  object
 7   solution_1    33085 non-null  object
 8   solution_2    22157 non-null  object
 9   solution_3    15957 non-null  object
 10  solution_4    12269 non-null  object
 11  solution_5    9827 non-null   object
dtypes: object(12)
memory usage: 4.3+ MB

In [ ]:
which.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42885 entries, 0 to 42884
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   link    42885 non-null  object
 1   source  42885 non-null  object
 2   which   42178 non-null  object
dtypes: object(3)
memory usage: 1005.2+ KB

In [ ]:
final_data = pd.merge(data, which, on=['link','source'], how='inner')

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43218 entries, 0 to 43217
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      43218 non-null  object
 1   contest       43218 non-null  object
 2   link          43218 non-null  object
 3   name          43218 non-null  object
 4   source        43218 non-null  object
 5   problem       33676 non-null  object
 6   problem_html  43218 non-null  object
 7   solution_1    33121 non-null  object
 8   solution_2    22180 non-null  object
 9   solution_3    15980 non-null  object
 10  solution_4    12293 non-null  object
 11  solution_5    9850 non-null   object
 12  which         42505 non-null  object
dtypes: object(13)
memory usage: 4.6+ MB

In [ ]:
final_data.head()

,category,contest,link,name,source,problem,problem_html,solution_1,solution_2,solution_3,solution_4,solution_5,which
0,international_contests,IMO,/community/c3081085_2022imo_problems,2022 IMO,/community/c6h2883211p25635135,IMO 2022 P1,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[5, '<div class=""cmty-post-html"">\n <div>\n </...","[5, '<div class=""cmty-post-html"">\n <div>\n </...","[4, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...",1
1,international_contests,IMO,/community/c3081085_2022imo_problems,2022 IMO,/community/c6h2883212p25635138,IMO 2022 P2,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[11, '<div class=""cmty-post-html"">\n <div>\n <...","[6, '<div class=""cmty-post-html"">\n <div>\n </...","[6, '<div class=""cmty-post-html"">\n <div>\n </...","[5, '<div class=""cmty-post-html"">\n <div>\n </...","[3, '<div class=""cmty-post-html"">\n <div>\n </...",2
2,international_contests,IMO,/community/c3081085_2022imo_problems,2022 IMO,/community/c6h2883213p25635143,IMO 2022 P3,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[14, '<div class=""cmty-post-html"">\n <div>\n <...","[5, '<div class=""cmty-post-html"">\n <div>\n </...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...",3
3,international_contests,IMO,/community/c3081085_2022imo_problems,2022 IMO,/community/c6h2883216p25635154,IMO 2022 P4,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[10, '<div class=""cmty-post-html"">\n <div>\n <...","[4, '<div class=""cmty-post-html"">\n <div>\n </...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...",4
4,international_contests,IMO,/community/c3081085_2022imo_problems,2022 IMO,/community/c6h2883217p25635158,IMO 2022 P5,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[20, '<div class=""cmty-post-html"">\n <div>\n <...","[5, '<div class=""cmty-post-html"">\n <div>\n </...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...",5

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43218 entries, 0 to 43217
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      43218 non-null  object
 1   contest       43218 non-null  object
 2   link          43218 non-null  object
 3   name          43218 non-null  object
 4   source        43218 non-null  object
 5   problem       33676 non-null  object
 6   problem_html  43218 non-null  object
 7   solution_1    33121 non-null  object
 8   solution_2    22180 non-null  object
 9   solution_3    15980 non-null  object
 10  solution_4    12293 non-null  object
 11  solution_5    9850 non-null   object
 12  which         42505 non-null  object
dtypes: object(13)
memory usage: 5.6+ MB

In [ ]:
final_data.sample(10)

,category,contest,link,name,source,problem,problem_html,solution_1,solution_2,solution_3,solution_4,solution_5,which
332,international_contests,IMO,/community/c3825_1998_imo,1998 IMO,/community/c6h18496p124439,IMO ShortList 1998 number theory problem 6,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[8, '<div class=""cmty-post-html"">\n <div>\n </...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...",3
11231,international_contests,Tournament Of Towns,/community/c3723_2002_tournament_of_towns,2002 Tournament Of Towns,/community/c6h589225p3489016,"Tournament of Towns,Spring 2002 Junior A Leve...","<div class=""cmty-post-html"">\n <div>\n </div>\...","[3, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,NaN,2
8585,international_contests,JBMO ShortLists,/community/c3074107_2021_jbmo_shortlist,2021 JBMO Shortlist,/community/c6h2876411p25559069,JBMO Shortlist 2021,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[0, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,NaN,C3
31972,national_olympiads,ITAMO,/community/c5398_2008_itamo,2008 ITAMO,/community/c6h222305p1233228,P4,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...",1
9514,international_contests,May Olympiad,/community/c2484803_2015_may_olympiad,2015 May Olympiad,/community/c6h1526919p9158719,May Olympiad(Olimpiada de Mayo) 2015,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[1, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,NaN,5
23777,undergraduate_contests,IMS,/community/c3565_2014_ims,2014 IMS,/community/c6h608747p3617923,IMS 2014 Day2 Problem9,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[2, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...",9
12351,international_contests,Tuymaada Olympiad,/community/c5492_2006_tuymaada_olympiad,2006 Tuymaada Olympiad,/community/c6h102431p576235,tuymaada 2006 problem 5,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[2, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,NaN,1
14996,national_and_regional_contests,Brazil Contests,/community/c3251_brazil_undergrad_mo,Brazil Undergrad MO,/community/c7h2843563p25193270,Brazilian Undergrad MO 2022 P4,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[1, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,NaN,Problem 4
26386,national_olympiads,All Russian Olympiad,/community/c5170_2010_allrussian_olympiad,2010 All Russian Olympiad,/community/c6h366046p2013532,NaN,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[3, '<div class=""cmty-post-html"">\n <div>\n </...","[1, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,3
11642,international_contests,Tournament Of Towns,/community/c3729_2010_tournament_of_towns,2010 Tournament Of Towns,/community/c6h390436p2169393,NaN,"<div class=""cmty-post-html"">\n <div>\n </div>\...","[0, '<div class=""cmty-post-html"">\n <div>\n </...","[0, '<div class=""cmty-post-html"">\n <div>\n </...",NaN,NaN,NaN,2

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('/content/drive/MyDrive/aops_complete_scraper/aops_data_v2.db')

final_data.to_sql('aops', conn, if_exists='replace', index=False)

conn.close()

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43218 entries, 0 to 43217
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      43218 non-null  object
 1   contest       43218 non-null  object
 2   link          43218 non-null  object
 3   name          43218 non-null  object
 4   source        43218 non-null  object
 5   problem       33676 non-null  object
 6   problem_html  43218 non-null  object
 7   solution_1    33121 non-null  object
 8   solution_2    22180 non-null  object
 9   solution_3    15980 non-null  object
 10  solution_4    12293 non-null  object
 11  solution_5    9850 non-null   object
 12  which         42505 non-null  object
dtypes: object(13)
memory usage: 5.6+ MB